.line {
  position: absolute;
	width: 4px;
	border-radius: 15px;
  z-index: 1000;
 	transform-origin: top;
}

.logAnimation {
  animation-name: animateLog;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.boardAnimation {
  animation-name: animateBoard;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.boardAnimationEndgame {
  animation-name: animateBoardEndgame;
  animation-duration: 1.8s;
}

.overlayAnimationShow {
  animation-name: animateOverlayShow;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.overlayAnimationHide {
  animation-name: animateOverlayHide;
  animation-duration: 0.2s;
}

.letterAnimation {
  animation-name: animateLetter;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.lineAnimation {
	animation-name: animateLine;
	animation-duration: 0.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes animateLog {
  from {
    opacity: 0;
  }
 
 to {
    opacity: 1;
  } 
}

@keyframes animateLetter {
  from {
    transform: scale(0);
  }
 
  to {
    transform: scale(1);
  } 
}

@keyframes animateBoard {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
 
 to {
    opacity: 1;
    transform: scale(1);
  } 
}

@keyframes animateBoardEndgame {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

@keyframes animateOverlayShow {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

@keyframes animateOverlayHide {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.7);
    opacity: 0;
  }
}

@keyframes animateLineLeft {
  from {
    transform: rotate(-90deg);
    height: 0;
  }
 
  to {
    transform: rotate(-90deg);
    height: 100%;
  } 
}

@keyframes animateLineTop {
  from {
    height: 0;
  }
 
  to {
    height: 100%;
  } 
}

@keyframes animateLineDiagonalLeft {
  from {
    transform: rotate(-45deg);
    height: 0;
  }
 
  to {
    transform: rotate(-45deg);
	  height: 140%;
  }
}

@keyframes animateLineDiagonalRight {
  from {
    transform: rotate(45deg);
    height: 0;
  }
 
  to {
    transform: rotate(45deg);
	  height: 140%;
  }
}
