:root {
  --bg-color: 237, 237, 237;
  --player-font-size: calc(1.5 * var(--scale0));
  --gameboard-font-size: 80px;

  --interval: 1.1;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--interval));
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(var(--bg-color));
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: fit-content;
  max-width: 1300px;
  padding: 30px 5px;
  margin: auto;
}

.restart {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}
