.gameboard {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);

  position: relative;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--gameboard-font-size);

  border: 2px solid black;
}

.field:first-child {
  border-left: none;
  border-top: none;
}

.field:nth-child(2) {
  border-top: none;
}

.field:nth-child(3) {
  border-top: none;
  border-right: none;
}

.field:nth-child(4) {
  border-left: none;
}

.field:nth-child(6) {
  border-right: none;
}

.field:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.field:nth-child(8) {
  border-bottom: none;
}

.field:nth-child(9) {
  border-right: none;
  border-bottom: none;
}

.overlay {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cyan;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}