.gameboard-wrapper {
  position: relative;
  width: 100%;
  border-top: 1px solid rgb(var(--border-color));
  border-bottom: 1px solid rgb(var(--border-color));
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);

  position: relative;
  width: fit-content;
  margin: auto;
  padding: 10px;
  cursor: default;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--gameboard-font-size);
  border: 2px solid rgb(var(--border-color));
}

.field:first-child {
  border-left: none;
  border-top: none;
}

.field:nth-child(2) {
  border-top: none;
}

.field:nth-child(3) {
  border-top: none;
  border-right: none;
}

.field:nth-child(4) {
  border-left: none;
}

.field:nth-child(6) {
  border-right: none;
}

.field:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.field:nth-child(8) {
  border-bottom: none;
}

.field:nth-child(9) {
  border-right: none;
  border-bottom: none;
}

.overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  font-size: calc(var(--scale0) * 4);
  cursor: pointer;

  .winner {
    font-size: var(--gameboard-font-size);
    font-weight: bold;
  }

  &.X-win {
    background-color: rgba(var(--x-player-color), 0.2);

    .winner {
      color: rgb(var(--x-player-color));
    }
  }

  &.O-win {
    background-color: rgba(var(--o-player-color), 0.2);

    .winner {
      color: rgb(var(--o-player-color));
    }
  }

  &.draw {
    background-color: rgba(var(--border-color), 0.5);

    .winner {
      color: rgb(116, 85, 143);
    }
  }
}
