.select-wrapper {
  width: 300px;
  padding-bottom: 30px;
}

.player-wrapper {
  display: flex;
  gap: 100px;
  font-size: var(--player-font-size);
}

.X-player, 
.O-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;

  width: 100px;
  height: 30px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.X-player.backlight {
  box-shadow: 0 3px 1px cyan;
}

.O-player.backlight {
  box-shadow: 0 3px 1px lightcoral;
}

.log {
  margin: 30px 0;
  font-size: var(--scale1);
}
