:root {
  --bg-color: 237, 237, 237;
  --player-font-size: calc(1.5 * var(--scale0));
  --gameboard-font-size: 80px;
  --interval: 1.1;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--interval));
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(var(--bg-color));
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 1300px;
  padding: 30px 5px;
  margin: auto;
}

.restart {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.player-wrapper {
  display: flex;
  gap: 100px;
  font-size: var(--player-font-size);
}

.X-player,
.O-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  width: 100px;
  height: 30px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.X-player.backlight {
  box-shadow: 0 3px 1px cyan;
}

.O-player.backlight {
  box-shadow: 0 3px 1px lightcoral;
}

.log {
  margin: 30px 0;
  font-size: var(--scale1);
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  position: relative;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--gameboard-font-size);
  border: 2px solid black;
}

.field:first-child {
  border-left: none;
  border-top: none;
}

.field:nth-child(2) {
  border-top: none;
}

.field:nth-child(3) {
  border-top: none;
  border-right: none;
}

.field:nth-child(4) {
  border-left: none;
}

.field:nth-child(6) {
  border-right: none;
}

.field:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.field:nth-child(8) {
  border-bottom: none;
}

.field:nth-child(9) {
  border-right: none;
  border-bottom: none;
}

.overlay {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}