:root {
  --bg-color: 237, 237, 237;
  --x-player-color: 63, 81, 181;
  --o-player-color: 228, 38, 206;
  --border-color: 216, 210, 210;
  --player-font-size: calc(1.5 * var(--scale0));
  --gameboard-font-size: calc(var(--scale0) * 5.5);
  --interval: 1.2;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--interval));
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Comic Neue", cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  max-width: 800px;
  margin: 30px auto;
}

.restart {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 20px 0;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

@media screen and (min-width: 800px) {
  main {
    border: 1px solid rgb(var(--border-color));
    border-radius: 10px;
  }
}
.select-wrapper {
  width: 300px;
  padding: 20px 20px 20px 0;
}

select {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  cursor: pointer;
  font-style: oblique;
}

select:focus {
  outline: none;
}

.player-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: var(--player-font-size);
}

.X-player,
.O-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  height: 30px;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.X-player.backlight {
  box-shadow: 0 3px 1px rgb(var(--x-player-color));
}

.O-player.backlight {
  box-shadow: 0 3px 1px rgb(var(--o-player-color));
}

.log {
  margin: 30px 0;
  font-size: var(--scale1);
}

@media screen and (min-width: 340px) {
  .select-wrapper {
    align-self: flex-start;
    padding-left: 20px;
  }
}
.gameboard-wrapper {
  position: relative;
  width: 100%;
  border-top: 1px solid rgb(var(--border-color));
  border-bottom: 1px solid rgb(var(--border-color));
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--gameboard-font-size);
  border: 2px solid rgb(var(--border-color));
}

.field:first-child {
  border-left: none;
  border-top: none;
}

.field:nth-child(2) {
  border-top: none;
}

.field:nth-child(3) {
  border-top: none;
  border-right: none;
}

.field:nth-child(4) {
  border-left: none;
}

.field:nth-child(6) {
  border-right: none;
}

.field:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.field:nth-child(8) {
  border-bottom: none;
}

.field:nth-child(9) {
  border-right: none;
  border-bottom: none;
}

.overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: calc(var(--scale0) * 4);
  cursor: pointer;
}
.overlay .winner {
  font-size: var(--gameboard-font-size);
  font-weight: bold;
}
.overlay.X-win {
  background-color: rgba(var(--x-player-color), 0.2);
}
.overlay.X-win .winner {
  color: rgb(var(--x-player-color));
}
.overlay.O-win {
  background-color: rgba(var(--o-player-color), 0.2);
}
.overlay.O-win .winner {
  color: rgb(var(--o-player-color));
}
.overlay.draw {
  background-color: rgba(var(--border-color), 0.5);
}
.overlay.draw .winner {
  color: rgb(116, 85, 143);
}

.line {
  position: absolute;
  width: 4px;
  border-radius: 15px;
  z-index: 1000;
  transform-origin: top;
}

.logAnimation {
  animation-name: animateLog;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.boardAnimation {
  animation-name: animateBoard;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.boardAnimationEndgame {
  animation-name: animateBoardEndgame;
  animation-duration: 1.8s;
}

.overlayAnimationShow {
  animation-name: animateOverlayShow;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.overlayAnimationHide {
  animation-name: animateOverlayHide;
  animation-duration: 0.2s;
}

.letterAnimation {
  animation-name: animateLetter;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.lineAnimation {
  animation-name: animateLine;
  animation-duration: 0.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes animateLog {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animateLetter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animateBoard {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateBoardEndgame {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
@keyframes animateOverlayShow {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animateOverlayHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
@keyframes animateLineLeft {
  from {
    transform: rotate(-90deg);
    height: 0;
  }
  to {
    transform: rotate(-90deg);
    height: 100%;
  }
}
@keyframes animateLineTop {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes animateLineDiagonalLeft {
  from {
    transform: rotate(-45deg);
    height: 0;
  }
  to {
    transform: rotate(-45deg);
    height: 140%;
  }
}
@keyframes animateLineDiagonalRight {
  from {
    transform: rotate(45deg);
    height: 0;
  }
  to {
    transform: rotate(45deg);
    height: 140%;
  }
}

/*# sourceMappingURL=style.css.map */
